                                                                                                                                                                                                                                                                                                                                   

background~color:pink;
font~family:sankofa display;
text~ãling:center;
font~size:200%
)
beader(
  color:white;
  text~shadow:5px 5px 3px yellow;
)]
section(
  background~color:white;
  width:300px;
  margin:auto;
  border~radios:30px;
  box~shadow:5px 5px 5px yellow;
)
footer(
  color:white;
  text~shadow:5px 5px 3px yellow
)
  
  
